@charset "utf-8";

.home-footer{
	@include flexbox()
	width:100%;
	height: .6rem;
	background:#2F2F2F;
	a{
		@include flex(1)
		width:20%;
		height: 100%;
		text-align: center;
		font-size:.12rem;
		padding-top:.08rem;
		color:#fff;
		position: relative;
		img{
			width:.24rem;
			height: .24rem;
			margin-bottom:.06rem;
		}
		.buyGoodsTypeNumber {
			position: absolute !important;
			top: 0.03rem;
			right: 0.07rem;
			display: block;
			width: .2rem;
			height: .2rem;
			background-color: #fdbd1d;
			color: #fff;
			font-size: .16rem;
			text-align: center;
			line-height: .2rem;
			@include border(1px, #fdbd1d, solid, 50%);
			z-index: 1001;
		}
		p{
		}
		&.active{
			color:#FFBC13;
		}
	}
}