@charset "utf-8";
.home-header{
	@include flexbox()
	width:100%;
	height: .47rem;
	background:#090909;
	.home-user,.home-scan{
		width:.67rem;
		height: 100%;
		text-align: center;
		a{
			display:inline-block;
			width:.32rem;
			height: .32rem;
			padding-top: .06rem;
			img{
				width:.32rem;
				height: .32rem;
			}
		}
	}
	.home-user{
		a{
			@include border-radius(50%)
		}
	}
	.home-search{
		@include flex()
		width:100%;
		height: 100%;
		padding:.06rem 0;
		a{
			display: block;
			height: 100%;
			width:100%;
			background:#FFBD1F;
			text-align:center;
			font-size:13px;
			padding-top:.08rem ;
			color:#090909;
			@include border-radius(7px)
			img{
				width:.2rem;
				height: .2rem;
				margin-right:.05rem;
			}
		}
	}
}