@charset "utf-8";

@import './header';


@import './footer';
#root{
	height: 100%;
	width:100%;
	.m-box{
		height: 100%;
		width:100%;
		@include flexbox();
		@include flex-direction(column);
	}
}
.home-box{
	height: 100%;
	@include flex()
	width:100%;
	overflow:hidden;
	.home-content{
		overflow-y:scroll;		
		width:100%;
		height:100%;
		.home-banner{
			width:100%;
			img{
				width:100%;
			}
		}
		.home-nav{
			height:1.14rem;
			width:100%;
			padding-top:.18rem;
			overflow-x:scroll;
			background: #FAFAFA;
			a{
				padding:0 .1rem;
			}
			@include flexbox()
			img{
				width:.58rem;
				height: .58rem;
			}
			p{
				font-size:.14rem;
				text-align:center;
				line-height:.38rem;
				color:#000;
			}
		}
		.home-view{
			@include flexbox()
			width:100%;
			height:.72rem;
			background: #FAFAFA;
			@include border(1px 0 0 0,#e2e2e2)
			.view-img{
				padding: 0 .12rem;
				height:100%;
				text-align:center;
				@include border(0 1px 0 0,#e2e2e2)
				padding-top:.25rem;
				img{
					display:inline-block;
					height:.21rem;
					width:.48rem;
				}
			}
			.view-text{
				@include flex()
				width:100%;
				height: 100%;
				>ul{
					width:100%;
					height: 100%;
					overflow-y:scroll;
					>li{
						width:90%;
						height:33.33%;
						overflow:hidden;
						white-space:nowrap;
						text-overflow:ellipsis;
						line-height: .28rem;
						a{
							font-size: .12rem;
							line-height: 33.33%;
							color:#000;
						}
						i{
							@include border-radius(5px)
							display:inline-block;
							width:5px;
							height: 5px;
							background: #FFBD1F;
							margin:0 8px 0 10px;
						}
					}
				}
			}
		}
		.home-activity{
			@include flexbox()
			width:100%;
			height: 1.71rem;
			margin-top:8px;
			background: #fff;
			>div{
				@include flex(1)
				width:33.33%;
				height: 100%;
				padding:.04rem;
				h3{
					font-size: .15rem;
					line-height: .22rem;
					>i{
						display: inline-block;
						width:3px;
						height: .15rem;
						background:#FFBD1F;
						margin-right: .05rem;
					}
					>b{
						line-height: .14rem;
					}
				}
				>p{
					font-size: .12rem;
					text-align: center;
					color:#6D6D6D;
				}
				>div{
					width:100%;
					height: 1rem;
					padding: .1rem .15rem;
					padding-top: .05rem;
					img{
						width:100%;
					}
				}
				>b{
					font-size: .12rem;
					font-weight: 500;
					width:100%;
					display:inline-block;
					text-align: center;
					>span{
						color:#6D6D6D;
						margin-right: .1rem;
					}
					>i{
						color::#FFBD1F;
					}
				}
			}
			>div:nth-child(2){
				>b{
					>span{
						color:#DF2020;
					}
					>i{
						text-decoration:line-through;
						color::#6D6D6D;
					}
				}
			}
		}
	}
}