@charset "UTF-8";

//DetailIndex
#root {
	height: 100%;
	width: 100%;
	.DetailIndex {
		height: 100%;
		width: 100%;
		.DetailMain {
			background: #fff;
			height: 100%;
			width: 100%;
			.back {
				position: absolute !important;
				top: .25rem;
				left: .25rem;
				display: block;
				width: .4rem;
				height: .4rem;
				background-color: #e2e2e2;
				color: #f7b924;
				font-size: .2rem;
				text-align: center;
				line-height: .4rem;
				@include border(1px, #e2e2e2, solid, 50%);
				z-index: 1000;
			}
			.container{
				@include flexbox();
				@include flex-direction(column)
				height: 100%;
				width: 100%;
				.DetailMainList {
					@include flex();
					width: 100%;
					overflow-y:scroll;
					img {
						height: 4.3rem;
						width: 100%;
					}
					.content {
						padding: .1rem;
						overflow: hidden;
						h1 {
							width: 100%;
							font-size: .16rem;
							height: .36rem;
							line-height: .36rem;
							@include ellipsis();
						}
						.text {
							width: 100%;
							display: block;
							padding-top:.14rem;
							line-height: .2rem;
							font-size: .16rem;
						}
					}
				}
				.DetailMainFooter {
					height: 1rem;
					.box{
						height: .5rem;
						@include flexbox();
						@include justify-content();
						@include align-items();
						padding: 0 .1rem;
						.price {
							@include flex();
							line-height: .5rem;
							height: 100%;
							color: #fbb12a;
							font-size: .16rem;
						}
						.kefu {
							@include border(1px, #fbb12a, solid)
							padding: .1rem .2rem;
							color: #fbb12a;
							width: .92rem;
							height: .37rem;
							font-size: .12rem;
						}
					}
					.footer{
						@include flexbox();
						height: .5rem;
						.say{
							@include flexbox();
							@include justify-content();
							@include align-items();
							width: .62rem;
							height: 100%;
							@include border(0 1px 0 0,#ebebeb,solid);
							img{
								width: 50%;
								height: 50%;
							}
						}
						.infoMore {
							@include flex();
							height: 100%;
							line-height: .5rem;
							color: #5b5b5b;
							font-size: .14rem;
							text-align: center;
						}
						.pay {
							width: 1.04rem;
							height: 100%;
							line-height: .5rem;
							color: #fff;
							font-size: .16rem;
							text-align: center;
							background: #febe1e;
						}
						.addCar {
							width: 1.04rem;
							height: 100%;
							line-height: .5rem;
							color: #fff;
							font-size: .16rem;
							text-align: center;
							background: #181818;
						}
					}
					&:after {
						position: relative;
						top: -1.3rem;
						@include gradient(linear,bottom,rgba(255,255,255,1),rgba(255,255,255,0.5))
						text-indent: -1rem;
						display: block;
						content:'lslfjlfjl';
						width: 100%;
						height: .3rem;
					}
				}
			}
			.modal{
				// display: none;
				visibility: hidden;
				width: 100%;
				height: 100%;
				background: rgba(255,255,255,.5);
				position: absolute;
				top: 0;
				left: 0;
				z-index:9999;
				@include flexbox();
				@include flex-direction(column);
				.empty {
					@include flex();
					width: 100%;
				}
				.DetailMainAddCar {
					// height: 3.72rem;
					min-height: 2.2rem;
					background: #fff;
					padding: .1rem;
					.goodsInfo {
						@include flexbox();
						height: .73rem;
						width: 100%;
						.img {
							width: .73rem;
							height: 100%;
							img {
								width: 100%;
								height: 100%;
							}
						}
						.info {
							@include flex();
							padding: 0 .1rem;
							.infoTitle {
								font-size: .16rem;
								line-height: .2rem;
								color: #2b2b2b;
							}
							.price {
								font-size: .2rem;
								color: #f8bb24;
								line-height: .3rem;
							}
						}
					}
					.goodsChoose {
						// height: 1.44rem;
						width: 100%;
						.chooseTitle {
							display: block;
							line-height: .44rem;
							font-size: .16rem;
						}
						.chooses {
							// height: .98rem;
							padding: 0 .07rem;
							overflow-y: scroll;
							span {
								display: inline-block;
								@include border(1px, #646464, solid,3px)
								margin: .05rem;
								font-size: .14rem;
								line-height: .3rem;
								color: #646464;
								padding: 0 .05rem;
								&.active {
									color: #fff;
									background: #ffd162;
									@include border(1px, #fff, solid,3px)
								}
							}
						}
					}
					.goodsCount {
						height: .92rem;
						padding-top: .1rem;
						.countNumber{
							height: .32rem;
							@include flexbox();
							.number {
								display: block;
								@include flex();
								height: 100%;
								font-size: .16rem;
								line-height: .32rem;
							}
							.yo-number {
								&::after{
									border: 0;
								}
								.minus {
									@include border(1px, #ececec, solid, 10px);
								}
								.plus {
									@include border(1px, #ececec, solid, 10px);
								}
							}
						}
						.countPrice{
							height: .5rem;
							@include flexbox();
							.priceAll {
								width: .74rem;
								height: 100%;
								display: block;
								line-height: .5rem;
								font-size: .16rem;
								color: #5d5d5d;
							}
							.priceBox {
								height: 100%;
								@include flex();
								@include flexbox();
								.count {
									width: .8rem;
									display: block;
									line-height: .5rem;
									font-size: .16rem;
									color: #fdbd1d;
								}
								.choose {
									@include flex();
									@include ellipsis();
									display: block;
									line-height: .5rem;
									font-size: .16rem;
									color: #5d5d5d;
								}
							}
						}
					}
					.sure {
						display: block;
						height: .42rem;
						line-height: .42rem;
						text-align: center;
						background: #fdbd1d;
						color: #fff;
						font-size: .16rem;
						@include border(1px, #fdbd1d, solid, 5px)
					}
				}
			}
		}
	}
}
//DetailGoodsShow
.goodsShowBox {
	position: relative;
	height: 100%;
	width: 100%;
	.back {
		position: absolute !important;
		top: .25rem;
		left: .25rem;
		display: block;
		width: .4rem;
		height: .4rem;
		background-color: #e2e2e2;
		color: #f7b924;
		font-size: .2rem;
		text-align: center;
		line-height: .4rem;
		@include border(1px, #e2e2e2, solid, 50%);
		z-index: 1000;
	}
	.DetailGoodsShow {
		height: 100%;
		width: 100%;
		ul {
			height: 100%;
			.item {
				height: 100%;
				width: 100%;
				img {
					height: 100%;
					width: 100%;
				}
			}
		}
	}		
}




