
@charset "UTF-8";



@import './usage/core/reset';

@import './usage/module/home/test.scss';

@import './usage/module/classify/classify';

// 分类列表
//@import './usage/module/classify/classifylist/classifylist';
//@import './usage/module/classify/classifylist/classifytopic';

//视野主页面
@import './usage/module/eye/eyeShot';

@import "./usage/core/reset";

@import "./usage/module/common/common";

@import "./usage/module/car/index";

#root {
	height: 100%;
}

@import "./usage/core/reset";
@import "./usage/module/mine/common";
@import "./usage/module/mine/leftPersonal";
@import "./usage/module/mine/login";
body{
	height: 100%;
	width: 100%;
	background-color :$base-color;
}
#root{
	height: 100%;
	.ce{
		height:100%;
	}
}

