@charset "UTF-8";
@import './usage/core/reset';
@import './usage/module/classify/Header';
@import './usage/module/classify/Classify';
@import './usage/module/classify/ClassList';
@import './usage/module/home/search';
@import './usage/module/home/test';
@import './usage/module/eye/eyeShot';
@import "./usage/module/common/common";
@import "./usage/module/car/index";
@import "./usage/module/mine/common";
@import "./usage/module/mine/leftPersonal";
@import "./usage/module/mine/login";

#root {
	height: 100%;
}


body{
	height: 100%;
	width: 100%;
	background-color :$base-color;
}
#root{
	height: 100%;
	.ce{
		height:100%;
	}
}


