.loginall{
		position:relative;
		width: 100%;
		.loginheader{

			padding:.1rem .15rem .1rem;
			background-color: #ffbd1f;
			width: 100%;
			@include flexbox();
			
			.lxkf{
				overflow: hidden;
				font-size: .14rem;
				margin-left:.14rem;
				margin-top: .1rem;
				
			}
			.lzhong{
				@include flex();
				width: 100%;
				height: 100%;
				li:not(.ltu){
					margin-top:.15rem;
					text-align: center;
				}
				.ltu{
					margin:0 auto;
					width: .78rem;
					height:.78rem;
					img{
						width: 100%;
						height:100%;
					}
				}
				.lhuise{
					color:#555;
				}
				.ldian{
					color:#333;
				}
				
			}
			.lshezhi{
					width: .35rem;
					height: .35rem;
					img{
						width: 100%;
						height:100%;
					}
				
			
				
			}
		}

		.ldingdan{
			@include border(0 0 1px 0,#efefef,solid)
			
			.lalldingdan{
				padding:.13rem .11rem;
				background-color:#fff;
				@include border(0 0 1px 0,#ebebeb,solid) 
				@include flexbox();
				h2{
					@include flex();
					font-size: .16rem;
					
				}
				span{
						margin-top: .02rem;
						font-size: .12rem;
						.ldian{
							color:#b2b2b2;
						}
					}
				
			}

			.llist{
				background-color: #fff;
				padding:.08rem;
				@include flexbox();
				@include border(0 0 1px 0,#eaeaea,solid);
				li{
					width: .86rem;
					height:.7rem;
					/*margin:.12rem;*/
					font-size:.12rem;
					text-align: center;
					span{
						display: block;
						margin-bottom: .20rem;
						font-size: .16rem;
						color:#ffba16;
						font-weight: 300;
					}
					img{
						width: .16rem;
						height:.16rem;
					}
					
				}
				.lli{
					@include flex();
					width: 100%;
				}
			}

		}
		.llistpage{
				
				margin-top: .1rem;
				@include border(1px 0 0 0,#f4f4f4,solid);
				background-color:#fff; 
				width: 100%;
				ul{
					@include border( 0 0 1px 0,#ebebeb,solid);
					li{
						width: 100%;
						padding:.12rem;
						font-size: .14rem;
						img{
							width: .23rem;
							height: .18rem;
						}
					}
					.ldian{
					color:#212121;
					}
					.lpage{
						@include border(0 0 1px 0,#ebebeb,solid);
						height: .5rem;
					}
				}
			}
	}