@charset "utf-8";

.eyeshot{
	@include flexbox();
	@include flex-direction(column);
	@include flex();
	width: 100%;
	.eyeheader{
		position: relative;
		height: .47rem;
		background: #000;
		color: #fff;
		font-size: .185rem;
		line-height: .47rem;
		text-align: center;
		.listmore{
			position: absolute;
			right: .12rem;
			top: 0rem;
		}
	}
	.viewNav{
		height: .52rem;	
		position: relative;	
		.nav{
			// display: none;
			position: relative;
			background: #eee;
			height: .52rem;
			padding-right: .5rem;
    		overflow: hidden;
			a{
				padding: .175rem 0; 
				margin: 0 .15rem;
				color: #666;
				font-size: .15rem;
				line-height: .5rem;
				height: .5rem;
			}
			.active{
				line-height: .5rem;
				height: .5rem;
				@include border(0 0 0.02rem 0,#ffa000,solid)
			}
			.navmore{
				position: absolute;
				width: .14rem;
				top: .13rem;
				right: .2rem;
			}
		}
		.zw{
			display: none;
			height: .52rem;	
			.navActive{
				width: 100%;
				height: .52rem;	
				position: absolute;	
				background: #e6e6e6;
				.nATitle{
					position: relative;
					span{
						padding-left: .155rem;
						font-size: .15rem;
						line-height: .52rem;
						color: #979797;
					}
					.nAIco{
						position: absolute;
						width: .14rem;
						top: .13rem;
						right: .2rem; 
						color: #999;
					}
				}
				.nAList{
					height: 1.57rem;
					width: 100%;
					background: #fff;
					ul{
						@include flexbox();
						@include flex-direction(raw);
						@include flex-wrap(wrap);
						width: 100%;
						li{
							height: .52rem;
							width: 20%;
							line-height: .52rem;
							text-align: center;
							@include border(0 1px 1px 0,#ddd,solid);
							a{
								display: block;
								color: #999;
								height: .5rem;
								line-height: .5rem;
							}
							.active{
								@include border(0 0 2px 0,#ffa100,solid);
							}
						}
						li:last-child{
							border: 0;
						}
						
					}
					
				}
			}
		}
	}
	.viewListBox{
		background: #fff;
		overflow-y: scroll;
		.viewList{
			height: 3.13rem;
			margin-bottom: .2rem;
			div{
				display: block;
				height: 2.75rem;
				img{
					width: 100%;
					height: 100%;
				}
			}
			h2{
				font-size: .12rem;
				line-height: .38rem;
				margin:0 .1rem;
				font-weight: normal;
				@include border(0 0 .01rem 0,#ddd,solid);
			}
		}
	}
}