<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
    	<div>hlaslsjflj</div>
    	<h3>hello world</h3>
    </body>
</html>