<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
=======
>>>>>>> liu
        <title></title>
    </head>
    <body>
<<<<<<< HEAD
    	<div>hlaslsjflj</div>
    	<h3>hello world</h3>
=======
    	<div id="root"></div>
      <script src='./libs/react.min.js'></script>
      <script src='./libs/react-dom.min.js'></script>
      <script src='./libs/ReactRouter.min.js'></script>
<<<<<<< HEAD
=======
>>>>>>> bb4b88d47fa3f14f4eececee66cfc23cc9d48712
>>>>>>> liu
    </body>
</html>
