.eh{
	width: 100%;
	height: .47rem !important;
	@include flexbox();
	background: #000;
	.back{
		display: block;
		margin: .15rem;
		height: .22rem;
		width: .22rem;
		background: url(http://m.miaohui.com/static/src/img/header_back.png);
		background-size: .22rem;
	}
	h1{
		@include flex();
		color: #fff;
		padding: 0 .3rem;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		text-align: center;
		line-height: .47rem;
		font-size: .185rem;
		font-weight: normal;
	}
	.share{
		display: block;
		margin: .15rem;
		height: .22rem;
		width: .22rem;
		background: url(http://m.miaohui.com/static/src/img/article/article_bottom_menu_share.png);
		background-size: .22rem;
	}
}
.yo-modal >.sharebox>.shareBlock{
	height: 3.2rem;
	width:100%;
	background: #fff;
	padding:.18rem;
	padding-bottom: 0;
	@include flexbox();
	@include flex-direction(column);
	h1{
		font-weight: normal;
		text-align: center;
		font-size: .2rem;
		margin-bottom: .1rem;
	}
	.shareIcon,.funIcon{
		width: 100%;
		height: .75rem;
		@include flexbox();
		a{
			color: #000;
		}
		div{
			text-align: center;
			width: 25%;
			img{
				width: .5rem;
				height: .5rem;
			}
			p{
				line-height: .34rem;
				font-size: .14rem;
			}
		}
	}
	hr{
		width: 100%;
		height: 1px;
		color: #ddd;
		margin: .15rem 0;
	}
	.esc{
		line-height: .6rem;
		font-size: .2rem;
		text-align: center;
		background: #ddd;
		margin-top: .2rem;
	}
}
