.eh{
	width: 100%;
	height: .47rem !important;
	@include flexbox();
	background: #000;
	.back{
		display: block;
		margin: .15rem;
		height: .22rem;
		width: .22rem;
		background: url(http://m.miaohui.com/static/src/img/header_back.png);
		background-size: .22rem;
	}
	h1{
		@include flex();
		color: #fff;
		padding: 0 .3rem;
		overflow: hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		text-align: center;
		line-height: .47rem;
		font-size: .185rem;
		font-weight: normal;
	}
	.share{
		display: block;
		margin: .15rem;
		height: .22rem;
		width: .22rem;
		background: url(http://www.easyicon.net/api/resizeApi.php?id=1183579&size=48);
		background-size: .22rem;
	}
}