@charset "utf-8";

.classbox{
	width: 100% !important; 
	@include flexbox();
	@include flex-direction(column);
	@include flex();
	.Classify{
		width: 100% !important; 
		@include flex();
		overflow-y:scroll;
		ul{
			@include flexbox();
			@include flex-wrap(wrap);
			li{
				width: 50%;
				height: .995rem;
				position: relative;
				img{
					position:absolute;
					width: 100%;
					height: 100%;
				}
				h1{
					font-weight: normal;
					width: 100%;
					position: absolute;
					color: #fff;
					font-size: .15rem;
					line-height: .995rem;
					text-align: center;
					background: rgba(0,0,0,.6)
				}
			}
			li:nth-child(2n+1){
				@include border(0 2px 4px 0,#fff,solid);
			}
			li:nth-child(2n){
				@include border(0 0 4px 2px,#fff,solid);
			}
		}
	}
}